<!-- <p>get-api works!</p>
<p>{{userList|json}}</p> -->
<div class="container mb-4">
    <div class="row">
        <div class="col-3">
            <ng-template *ngIf="isLoggedIn">
                <p>Welcome USER</p>
            </ng-template>
        </div>
        <div class="col-3">
            <div *ngIf="isLoggedIn;else NotLoggedIn">
                <h2>Welcome User</h2>
            </div>
            
            <ng-template #NotLoggedIn>
                <h2>Please Login</h2>
            </ng-template>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </thead>
        <tbody>
                <ng-container *ngIf="isLoading">
                    <tr>
                        <td class="text-center" colspan="8">Loading Data......</td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="!isLoading">
                    @for(user of userList; track $index){                    
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.address.street}}-{{user.address.city}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.website}}</td>
                        <td>{{user.company.name}}</td>
                    </tr>
                    }
                </ng-container>

            
                
            
            <!-- @if(isLoading){
                <tr class="placeholder-glow">
                    <td class="text-center" colspan="8">Loading Data......</td>
                </tr>
            }
            @else {
            @for(user of userList; track $index){
              
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.address.street}}-{{user.address.city}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.website}}</td>
                        <td>{{user.company.name}}</td>
                    </tr>
                }             
                
            } -->
        </tbody>
    </table>
</div>